body {
  margin-left: 20px;
  margin-right: 20px;
}

h1 {
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 0px;
}

nav ul > * {
  display: block;
  margin: 10px;
}

nav ul > *:not(:first-child) {
  padding: 5px;
  border-radius: 5px;
}

nav ul > *:not(:first-child):hover {
  background-color:lightgrey;
}

footer {
  text-align: center;
}

a {
  text-decoration:none;
  color: green;
}

a:hover {
  text-decoration: underline;
}

nav {
  border-bottom: 2px solid green;
}
footer {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  border-top:2px solid green;
}

footer {
  clear: both;
}

main {
  padding: 20px;
}