main {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

figure {
  border: 2px solid green;
  border-radius: 10px;
  
  overflow: hidden;
   background-color:green;
}

figcaption {
  
  font-weight: bold;
  color: white;
  

}

a[href="page1.html"] {
  color: lightgreen;
}